# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled binary
api-go

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Database files
*.db
data/

# Environment files
.env
.env.local
